@import "variables";

@each $font-face in $primary,  $primary-bold, $primary-bold-italic, $primary-extra-bold, $primary-italic, $primary-light, $primary-semibold, $primary-semibold-italic, $primary-light-italic  {
  @font-face {
    font-family: $font-face; font-style: normal; font-weight: normal;
    src: url('../fonts/#{$font-face}.eot');
    src: url('../fonts/#{$font-face}.eot?') format('eot'),
         url('../fonts/#{$font-face}.woff') format('woff'),
         url('../fonts/#{$font-face}.ttf')  format('truetype'),
         url('../fonts/#{$font-face}.svg##{$primary}') format('svg');
  }
}
