//Custom variables and definitions must go before bootstrap-sass stylesheets
// --------------------------------------------------
@import "variables";
@import "mixins";
@import "fontface";
@import "emoji";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-compass"; //Reset
// --------------------------------------------------

body {
  font-family: $primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary;
}

.hover,
a,
button,
i {
  @include transition(all .5s ease);

  &:focus,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

.section-title {
  margin-top: 3em;
  @extend .bold;
}

//Typography
// --------------------------------------------------

.bold {
  font-family: $primary-bold;
}
//Backgrounds
// --------------------------------------------------

.bg-clear {
  background-color: $clear;
}

.bg-default {
  background-color: $default;
}
//Positioneng
// --------------------------------------------------
// IMPORTANT!!!
// Flex elements WILL NOT WORK in IE9

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-align-center {
  @extend .flex;
  align-items: center;
}

.flex-align-end {
  @extend .flex;
  align-items: flex-end;
}

.flex-align-self-end {
  align-self: flex-end;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
//Vertival alignment through display table
// --------------------------------------------------

.display-table {
  display: table;
  width: 100%;
  height: 100%;

  > * {
    display: table-cell;
    vertical-align: middle;
  }
}
//Vertival alignment through inline-block
// --------------------------------------------------

.inline-block {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
//Custom Margin
// --------------------------------------------------

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-75 {
  margin-top: 75px;
}
//Bootstrap elements custimization
// --------------------------------------------------

.divider {
  @include border($border-default, .5px, solid);
  width: 90%;
  margin: 0 auto;
}

.side-collapse {
  background-color: transparentize($default, .15);
  .divider {
    margin-top:.5em;
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  .side-collapse-container {
    width: 100%;
    position: relative;
    left: 0;
    transition: left 0.4s;
  }

  .side-collapse-container.out {
    left: $menu-mobile;
  }

  .side-collapse {
    top: 50px;
    bottom: 0;
    left: 0;
    width: $menu-mobile;
    position: fixed;
    overflow: hidden;
    transition: width 0.4s;
    border-right: 1px $border-default solid;
  }

  .side-collapse.in {
    width: 0;
  }
}

.navbar {
  .navbar-header {
    button.navbar-toggle {
    float: left;
    margin-right: auto;
    margin-left: 15px;
    border: none;
    padding: 9px 0;
    &:hover, &:focus, &:visited {
      background-color: $clear;
    }
}
  }
  .navbar-nav {
    > li {
      > a {
        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }
  @include border-radius(0);
  margin-bottom: 0;

  &.navbar-default {
    background-color: $default;
  }

  .navbar-header {
    .navbar-brand {
      font-family: $primary-bold;
      letter-spacing: -1px;
    }
  }

  .menu, .menu-xs {
    form.navbar-form {
      @extend .hidden-xs;
    }
    @media (max-width: $grid-float-breakpoint-max) {
      form.navbar-form {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
  .menu-xs {
    @extend .visible-xs;
  }

  .user-info-left {
    cursor: default;
    @extend .visible-xs;
    padding: 9px 15px;
    margin-bottom: 1em;
    i.fa.fa-dollar {
      @include border-radius(50%);
      @extend .circle-icon;
    }
  }

  .user-info-right {
    @media (max-width: $grid-float-breakpoint-max) {
      .dropdown.user,
      .info {
        @extend .hidden-xs;
      }
    }

    > li {
      &:first-child {
        a {
          padding-right: 10px;
        }
      }

      a.dropdown-toggle {
        padding-left: 0;
        padding-right: 0;
        @extend .bg-clear;

        &:focus,
        &:hover,
        &:visited {
          @extend .bg-clear;
        }
      }

      @media (max-width: $grid-float-breakpoint-max) {
        a {padding-left: 15px;}
      }
    }

    > li.info {
      > * {
        padding: 15px 5px;
      }

      a,
      span {
        padding: 0 2px;
      }
      @media (max-width: $grid-float-breakpoint-max) {
        span {
          padding-left: 12px;
        }
      }

      i.fa.fa-dollar {
        @include border-radius(50%);
        @extend .circle-icon;
      }
    }

    > li {
      .dropdown-menu {
        a {
          font-family: $primary-bold;

          i.fa {
            @extend .circle-icon;
          }
        }
        @include border-radius(4px);
        margin-top: 5px;

        .divider {
          margin: 9px 5px;
        }
      }
      @media screen and (min-width: $grid-float-breakpoint) {
        .dropdown-menu {
          &::before {
            @include arrow(top, #000, 7px);
            top: -7px;
            left: 25%;
            content: '';
          }

          &::after {
            @include arrow(top, $default, 7px);
            top: -6.7px;
            left: 25%;
            content: '';
          }
        }
      }
    }
  }
  @media (min-width: $grid-float-breakpoint) {
    .navbar-right {
      .dropdown-menu {
        right: auto;
        left: 1em;
      }
      // Necessary for overrides of the default right aligned menu.
      // Will remove come v4 in all likelihood.
      .dropdown-menu-left {
        left: auto;
        right: 1em;
      }
    }
  }
}

.input-group {
  .input-group-addon {
    background-color: $default;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-left-color: $clear;
  }

  .form-control {
    @include no-shadow(none);
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    border-right-color: $clear;
  }
}
//Modal
// --------------------------------------------------

.modal {
  text-align: center;
  padding: 0 !important;

  &:before {
    @extend .inline-block;
    margin-right: -4px;
    /* Adjusts for spacing */
  }

  .modal-dialog {
    @extend .inline-block;
    height: auto;

    .modal-title {
      font-family: $primary-bold;
    }

    .modal-body {
      label {
        @extend .text-left;
        width: 100%;
      }
      .message {
        margin-top: -15px;
        text-align: left;
        margin-bottom: 8px;
        color: $alert-danger-text;
      }
    }
  }
}

// --------------------------------------------------
//New elements
// --------------------------------------------------

//Icons
// --------------------------------------------------

.circle-icon {
  @include border-radius(50%);
  background-color: $border-default;
  padding: 3px 5px;
  font-size: 10px;
  color: $default;
}

.circle-icon-alt {
  @extend .circle-icon;
  background-color: transparentize($gray, .5);
  padding: 1em;
  font-size: 1em;
}
//Cards
// --------------------------------------------------
// This card configuration is for a single card or cards within a wrapper
// in wich .card.main will be the title of the container

.card-wrapper {
  float: left;
  margin: 1em 0;
  border: 1px solid $border-default;
  @include border-radius(4px);
  background-color: $gray-lighter;
  margin-left: 15px;
  margin-right: 15px;

  .card.main {
    @extend .bg-clear;
    margin: 0.5em -1em;
    min-height: 2em;
    border: none;
    @include no-transition(none);

    .title {}

    &:focus,
    &:hover,
    &:visited {
      .title {
        color: $text-color;
      }
    }
  }

  .card {
    @extend .bg-default;
    min-height: 12em;
  }
}

[class*=col-] {
  .card-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

// This element is just a sigle card appearance

.card {
  // Must be present if card is within <a> tag
  color: $text-color;
  display: block;
  text-decoration: none;
  cursor: pointer;
  // Comment the block above if using <div>
  @extend .hover;
  padding: 1em 1.5em;
  min-height: 14em;
  margin: 1em 0;
  @include border-radius(4px);
  border: 1px solid $border-default;
  background-color: $gray-lighter;

  &:hover {
    color: $default;
    background-color: lighten($brand-info,5%);
    text-decoration: none;

    span {
      opacity: 1;
    }
  }

  .title {
    text-decoration: none;
    margin-bottom: 1em;
    @media (max-width: $grid-float-breakpoint) {
      h4 {
        font-size: 0.85em;
      }
    }

    h4 {
      @extend .bold;
    }

    h4,
    h6 {
      margin: 0 0 0.25em;
    }
  }

  span {
    @extend .hover;
    position: absolute;
    bottom: 2em;
    opacity: 0;

    i.fa {
      @extend .circle-icon-alt;
    }
  }
}

.display-none {
  display: none;
}

.category-section {

}

.card.category {
  padding: 1em 0;
  .title {
    @extend .text-center;
    padding: 0 1em;
  }

  // The carousel allows icons/emojis inside card to rotate to similar images within the card category

  .carousel {
    .carousel-inner {
      .icon {
        position: relative;
        min-height: 5em;
        padding: 4em 0;
      }
      img {
        margin: 0 auto;
        vertical-align: middle;
        padding: 2em 0;
        width:33%;
      }
    }
  }

  // This icon is a fallback if there is no slider

  .icon {
    height: inherit;
    width: 100%;
    @extend .absolute-center;
    @include background(center, no-repeat, 5em);
    display: inline-block;
    vertical-align: middle;
  }

}
//Login
// --------------------------------------------------

.login-screen {
  @extend .absolute-center;
  // width: 50%;
  height: 40%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}
//Modal: This class must be added beside modal-content class

// This message is inside the form and it isn's displayed by default
.message {
  display: none;
}
