$primary:'OpenSans';
$primary-bold:'OpenSans-Bold';
$primary-bold-italic:'OpenSans-BoldItalic';
$primary-extra-bold:'OpenSans-Extrabold';
$primary-italic: 'OpenSans-Italic';
$primary-light: 'OpenSans-Light';
$primary-semibold: 'OpenSans-Semibold';
$primary-semibold-italic: 'OpenSans-Semibolditalic';
$primary-light-italic: 'OpenSansLight-Italic';


//Custom colors
$default: #FFF;
$clear: transparent;
$border-default: #dddbe6;

//Custom sizes
$menu-mobile: 250px;

//Bootstrap variables override
$text-color: #2e3134;
$navbar-default-border : $border-default;
$navbar-default-link-color: $text-color;
