.icon---1 {
  background-image: url("../img/../img/emoji/+1.png"); }

.icon--1 {
  background-image: url("../img/emoji/-1.png"); }

.icon-100 {
  background-image: url("../img/emoji/100.png"); }

.icon-1234 {
  background-image: url("../img/emoji/1234.png"); }

.icon-8ball {
  background-image: url("../img/emoji/8ball.png"); }

.icon-a {
  background-image: url("../img/emoji/a.png"); }

.icon-ab {
  background-image: url("../img/emoji/ab.png"); }

.icon-abc {
  background-image: url("../img/emoji/abc.png"); }

.icon-abcd {
  background-image: url("../img/emoji/abcd.png"); }

.icon-accept {
  background-image: url("../img/emoji/accept.png"); }

.icon-aerial_tramway {
  background-image: url("../img/emoji/aerial_tramway.png"); }

.icon-airplane {
  background-image: url("../img/emoji/airplane.png"); }

.icon-alarm_clock {
  background-image: url("../img/emoji/alarm_clock.png"); }

.icon-alien {
  background-image: url("../img/emoji/alien.png"); }

.icon-ambulance {
  background-image: url("../img/emoji/ambulance.png"); }

.icon-anchor {
  background-image: url("../img/emoji/anchor.png"); }

.icon-angel {
  background-image: url("../img/emoji/angel.png"); }

.icon-anger {
  background-image: url("../img/emoji/anger.png"); }

.icon-angry {
  background-image: url("../img/emoji/angry.png"); }

.icon-anguished {
  background-image: url("../img/emoji/anguished.png"); }

.icon-ant {
  background-image: url("../img/emoji/ant.png"); }

.icon-apple {
  background-image: url("../img/emoji/apple.png"); }

.icon-aquarius {
  background-image: url("../img/emoji/aquarius.png"); }

.icon-aries {
  background-image: url("../img/emoji/aries.png"); }

.icon-arrow_backward {
  background-image: url("../img/emoji/arrow_backward.png"); }

.icon-arrow_double_down {
  background-image: url("../img/emoji/arrow_double_down.png"); }

.icon-arrow_double_up {
  background-image: url("../img/emoji/arrow_double_up.png"); }

.icon-arrow_down {
  background-image: url("../img/emoji/arrow_down.png"); }

.icon-arrow_down_small {
  background-image: url("../img/emoji/arrow_down_small.png"); }

.icon-arrow_forward {
  background-image: url("../img/emoji/arrow_forward.png"); }

.icon-arrow_heading_down {
  background-image: url("../img/emoji/arrow_heading_down.png"); }

.icon-arrow_heading_up {
  background-image: url("../img/emoji/arrow_heading_up.png"); }

.icon-arrow_left {
  background-image: url("../img/emoji/arrow_left.png"); }

.icon-arrow_lower_left {
  background-image: url("../img/emoji/arrow_lower_left.png"); }

.icon-arrow_lower_right {
  background-image: url("../img/emoji/arrow_lower_right.png"); }

.icon-arrow_right {
  background-image: url("../img/emoji/arrow_right.png"); }

.icon-arrow_right_hook {
  background-image: url("../img/emoji/arrow_right_hook.png"); }

.icon-arrow_up {
  background-image: url("../img/emoji/arrow_up.png"); }

.icon-arrow_up_down {
  background-image: url("../img/emoji/arrow_up_down.png"); }

.icon-arrow_up_small {
  background-image: url("../img/emoji/arrow_up_small.png"); }

.icon-arrow_upper_left {
  background-image: url("../img/emoji/arrow_upper_left.png"); }

.icon-arrow_upper_right {
  background-image: url("../img/emoji/arrow_upper_right.png"); }

.icon-arrows_clockwise {
  background-image: url("../img/emoji/arrows_clockwise.png"); }

.icon-arrows_counterclockwise {
  background-image: url("../img/emoji/arrows_counterclockwise.png"); }

.icon-art {
  background-image: url("../img/emoji/art.png"); }

.icon-articulated_lorry {
  background-image: url("../img/emoji/articulated_lorry.png"); }

.icon-astonished {
  background-image: url("../img/emoji/astonished.png"); }

.icon-atm {
  background-image: url("../img/emoji/atm.png"); }

.icon-b {
  background-image: url("../img/emoji/b.png"); }

.icon-baby {
  background-image: url("../img/emoji/baby.png"); }

.icon-baby_bottle {
  background-image: url("../img/emoji/baby_bottle.png"); }

.icon-baby_chick {
  background-image: url("../img/emoji/baby_chick.png"); }

.icon-baby_symbol {
  background-image: url("../img/emoji/baby_symbol.png"); }

.icon-back {
  background-image: url("../img/emoji/back.png"); }

.icon-baggage_claim {
  background-image: url("../img/emoji/baggage_claim.png"); }

.icon-balloon {
  background-image: url("../img/emoji/balloon.png"); }

.icon-ballot_box_with_check {
  background-image: url("../img/emoji/ballot_box_with_check.png"); }

.icon-bamboo {
  background-image: url("../img/emoji/bamboo.png"); }

.icon-banana {
  background-image: url("../img/emoji/banana.png"); }

.icon-bangbang {
  background-image: url("../img/emoji/bangbang.png"); }

.icon-bank {
  background-image: url("../img/emoji/bank.png"); }

.icon-bar_chart {
  background-image: url("../img/emoji/bar_chart.png"); }

.icon-barber {
  background-image: url("../img/emoji/barber.png"); }

.icon-baseball {
  background-image: url("../img/emoji/baseball.png"); }

.icon-basketball {
  background-image: url("../img/emoji/basketball.png"); }

.icon-bath {
  background-image: url("../img/emoji/bath.png"); }

.icon-bathtub {
  background-image: url("../img/emoji/bathtub.png"); }

.icon-battery {
  background-image: url("../img/emoji/battery.png"); }

.icon-bear {
  background-image: url("../img/emoji/bear.png"); }

.icon-bee {
  background-image: url("../img/emoji/bee.png"); }

.icon-beer {
  background-image: url("../img/emoji/beer.png"); }

.icon-beers {
  background-image: url("../img/emoji/beers.png"); }

.icon-beetle {
  background-image: url("../img/emoji/beetle.png"); }

.icon-beginner {
  background-image: url("../img/emoji/beginner.png"); }

.icon-bell {
  background-image: url("../img/emoji/bell.png"); }

.icon-bento {
  background-image: url("../img/emoji/bento.png"); }

.icon-bicyclist {
  background-image: url("../img/emoji/bicyclist.png"); }

.icon-bike {
  background-image: url("../img/emoji/bike.png"); }

.icon-bikini {
  background-image: url("../img/emoji/bikini.png"); }

.icon-bird {
  background-image: url("../img/emoji/bird.png"); }

.icon-birthday {
  background-image: url("../img/emoji/birthday.png"); }

.icon-black_circle {
  background-image: url("../img/emoji/black_circle.png"); }

.icon-black_joker {
  background-image: url("../img/emoji/black_joker.png"); }

.icon-black_medium_small_square {
  background-image: url("../img/emoji/black_medium_small_square.png"); }

.icon-black_medium_square {
  background-image: url("../img/emoji/black_medium_square.png"); }

.icon-black_nib {
  background-image: url("../img/emoji/black_nib.png"); }

.icon-black_small_square {
  background-image: url("../img/emoji/black_small_square.png"); }

.icon-black_square {
  background-image: url("../img/emoji/black_square.png"); }

.icon-black_square_button {
  background-image: url("../img/emoji/black_square_button.png"); }

.icon-blossom {
  background-image: url("../img/emoji/blossom.png"); }

.icon-blowfish {
  background-image: url("../img/emoji/blowfish.png"); }

.icon-blue_book {
  background-image: url("../img/emoji/blue_book.png"); }

.icon-blue_car {
  background-image: url("../img/emoji/blue_car.png"); }

.icon-blue_heart {
  background-image: url("../img/emoji/blue_heart.png"); }

.icon-blush {
  background-image: url("../img/emoji/blush.png"); }

.icon-boar {
  background-image: url("../img/emoji/boar.png"); }

.icon-boat {
  background-image: url("../img/emoji/boat.png"); }

.icon-bomb {
  background-image: url("../img/emoji/bomb.png"); }

.icon-book {
  background-image: url("../img/emoji/book.png"); }

.icon-bookmark {
  background-image: url("../img/emoji/bookmark.png"); }

.icon-bookmark_tabs {
  background-image: url("../img/emoji/bookmark_tabs.png"); }

.icon-books {
  background-image: url("../img/emoji/books.png"); }

.icon-boom {
  background-image: url("../img/emoji/boom.png"); }

.icon-boot {
  background-image: url("../img/emoji/boot.png"); }

.icon-bouquet {
  background-image: url("../img/emoji/bouquet.png"); }

.icon-bow {
  background-image: url("../img/emoji/bow.png"); }

.icon-bowling {
  background-image: url("../img/emoji/bowling.png"); }

.icon-bowtie {
  background-image: url("../img/emoji/bowtie.png"); }

.icon-boy {
  background-image: url("../img/emoji/boy.png"); }

.icon-bread {
  background-image: url("../img/emoji/bread.png"); }

.icon-bride_with_veil {
  background-image: url("../img/emoji/bride_with_veil.png"); }

.icon-bridge_at_night {
  background-image: url("../img/emoji/bridge_at_night.png"); }

.icon-briefcase {
  background-image: url("../img/emoji/briefcase.png"); }

.icon-broken_heart {
  background-image: url("../img/emoji/broken_heart.png"); }

.icon-bug {
  background-image: url("../img/emoji/bug.png"); }

.icon-bulb {
  background-image: url("../img/emoji/bulb.png"); }

.icon-bullettrain_front {
  background-image: url("../img/emoji/bullettrain_front.png"); }

.icon-bullettrain_side {
  background-image: url("../img/emoji/bullettrain_side.png"); }

.icon-bus {
  background-image: url("../img/emoji/bus.png"); }

.icon-busstop {
  background-image: url("../img/emoji/busstop.png"); }

.icon-bust_in_silhouette {
  background-image: url("../img/emoji/bust_in_silhouette.png"); }

.icon-busts_in_silhouette {
  background-image: url("../img/emoji/busts_in_silhouette.png"); }

.icon-cactus {
  background-image: url("../img/emoji/cactus.png"); }

.icon-cake {
  background-image: url("../img/emoji/cake.png"); }

.icon-calendar {
  background-image: url("../img/emoji/calendar.png"); }

.icon-calling {
  background-image: url("../img/emoji/calling.png"); }

.icon-camel {
  background-image: url("../img/emoji/camel.png"); }

.icon-camera {
  background-image: url("../img/emoji/camera.png"); }

.icon-cancer {
  background-image: url("../img/emoji/cancer.png"); }

.icon-candy {
  background-image: url("../img/emoji/candy.png"); }

.icon-capital_abcd {
  background-image: url("../img/emoji/capital_abcd.png"); }

.icon-capricorn {
  background-image: url("../img/emoji/capricorn.png"); }

.icon-car {
  background-image: url("../img/emoji/car.png"); }

.icon-card_index {
  background-image: url("../img/emoji/card_index.png"); }

.icon-carousel_horse {
  background-image: url("../img/emoji/carousel_horse.png"); }

.icon-cat {
  background-image: url("../img/emoji/cat.png"); }

.icon-cat2 {
  background-image: url("../img/emoji/cat2.png"); }

.icon-cd {
  background-image: url("../img/emoji/cd.png"); }

.icon-chart {
  background-image: url("../img/emoji/chart.png"); }

.icon-chart_with_downwards_trend {
  background-image: url("../img/emoji/chart_with_downwards_trend.png"); }

.icon-chart_with_upwards_trend {
  background-image: url("../img/emoji/chart_with_upwards_trend.png"); }

.icon-checkered_flag {
  background-image: url("../img/emoji/checkered_flag.png"); }

.icon-cherries {
  background-image: url("../img/emoji/cherries.png"); }

.icon-cherry_blossom {
  background-image: url("../img/emoji/cherry_blossom.png"); }

.icon-chestnut {
  background-image: url("../img/emoji/chestnut.png"); }

.icon-chicken {
  background-image: url("../img/emoji/chicken.png"); }

.icon-children_crossing {
  background-image: url("../img/emoji/children_crossing.png"); }

.icon-chocolate_bar {
  background-image: url("../img/emoji/chocolate_bar.png"); }

.icon-christmas_tree {
  background-image: url("../img/emoji/christmas_tree.png"); }

.icon-church {
  background-image: url("../img/emoji/church.png"); }

.icon-cinema {
  background-image: url("../img/emoji/cinema.png"); }

.icon-circus_tent {
  background-image: url("../img/emoji/circus_tent.png"); }

.icon-city_sunrise {
  background-image: url("../img/emoji/city_sunrise.png"); }

.icon-city_sunset {
  background-image: url("../img/emoji/city_sunset.png"); }

.icon-cl {
  background-image: url("../img/emoji/cl.png"); }

.icon-clap {
  background-image: url("../img/emoji/clap.png"); }

.icon-clapper {
  background-image: url("../img/emoji/clapper.png"); }

.icon-clipboard {
  background-image: url("../img/emoji/clipboard.png"); }

.icon-clock1 {
  background-image: url("../img/emoji/clock1.png"); }

.icon-clock10 {
  background-image: url("../img/emoji/clock10.png"); }

.icon-clock1030 {
  background-image: url("../img/emoji/clock1030.png"); }

.icon-clock11 {
  background-image: url("../img/emoji/clock11.png"); }

.icon-clock1130 {
  background-image: url("../img/emoji/clock1130.png"); }

.icon-clock12 {
  background-image: url("../img/emoji/clock12.png"); }

.icon-clock1230 {
  background-image: url("../img/emoji/clock1230.png"); }

.icon-clock130 {
  background-image: url("../img/emoji/clock130.png"); }

.icon-clock2 {
  background-image: url("../img/emoji/clock2.png"); }

.icon-clock230 {
  background-image: url("../img/emoji/clock230.png"); }

.icon-clock3 {
  background-image: url("../img/emoji/clock3.png"); }

.icon-clock330 {
  background-image: url("../img/emoji/clock330.png"); }

.icon-clock4 {
  background-image: url("../img/emoji/clock4.png"); }

.icon-clock430 {
  background-image: url("../img/emoji/clock430.png"); }

.icon-clock5 {
  background-image: url("../img/emoji/clock5.png"); }

.icon-clock530 {
  background-image: url("../img/emoji/clock530.png"); }

.icon-clock6 {
  background-image: url("../img/emoji/clock6.png"); }

.icon-clock630 {
  background-image: url("../img/emoji/clock630.png"); }

.icon-clock7 {
  background-image: url("../img/emoji/clock7.png"); }

.icon-clock730 {
  background-image: url("../img/emoji/clock730.png"); }

.icon-clock8 {
  background-image: url("../img/emoji/clock8.png"); }

.icon-clock830 {
  background-image: url("../img/emoji/clock830.png"); }

.icon-clock9 {
  background-image: url("../img/emoji/clock9.png"); }

.icon-clock930 {
  background-image: url("../img/emoji/clock930.png"); }

.icon-closed_book {
  background-image: url("../img/emoji/closed_book.png"); }

.icon-closed_lock_with_key {
  background-image: url("../img/emoji/closed_lock_with_key.png"); }

.icon-closed_umbrella {
  background-image: url("../img/emoji/closed_umbrella.png"); }

.icon-cloud {
  background-image: url("../img/emoji/cloud.png"); }

.icon-clubs {
  background-image: url("../img/emoji/clubs.png"); }

.icon-cn {
  background-image: url("../img/emoji/cn.png"); }

.icon-cocktail {
  background-image: url("../img/emoji/cocktail.png"); }

.icon-coffee {
  background-image: url("../img/emoji/coffee.png"); }

.icon-cold_sweat {
  background-image: url("../img/emoji/cold_sweat.png"); }

.icon-collision {
  background-image: url("../img/emoji/collision.png"); }

.icon-computer {
  background-image: url("../img/emoji/computer.png"); }

.icon-confetti_ball {
  background-image: url("../img/emoji/confetti_ball.png"); }

.icon-confounded {
  background-image: url("../img/emoji/confounded.png"); }

.icon-confused {
  background-image: url("../img/emoji/confused.png"); }

.icon-congratulations {
  background-image: url("../img/emoji/congratulations.png"); }

.icon-construction {
  background-image: url("../img/emoji/construction.png"); }

.icon-construction_worker {
  background-image: url("../img/emoji/construction_worker.png"); }

.icon-convenience_store {
  background-image: url("../img/emoji/convenience_store.png"); }

.icon-cookie {
  background-image: url("../img/emoji/cookie.png"); }

.icon-cool {
  background-image: url("../img/emoji/cool.png"); }

.icon-cop {
  background-image: url("../img/emoji/cop.png"); }

.icon-copyright {
  background-image: url("../img/emoji/copyright.png"); }

.icon-corn {
  background-image: url("../img/emoji/corn.png"); }

.icon-couple {
  background-image: url("../img/emoji/couple.png"); }

.icon-couple_with_heart {
  background-image: url("../img/emoji/couple_with_heart.png"); }

.icon-couplekiss {
  background-image: url("../img/emoji/couplekiss.png"); }

.icon-cow {
  background-image: url("../img/emoji/cow.png"); }

.icon-cow2 {
  background-image: url("../img/emoji/cow2.png"); }

.icon-credit_card {
  background-image: url("../img/emoji/credit_card.png"); }

.icon-crocodile {
  background-image: url("../img/emoji/crocodile.png"); }

.icon-crossed_flags {
  background-image: url("../img/emoji/crossed_flags.png"); }

.icon-crown {
  background-image: url("../img/emoji/crown.png"); }

.icon-cry {
  background-image: url("../img/emoji/cry.png"); }

.icon-crying_cat_face {
  background-image: url("../img/emoji/crying_cat_face.png"); }

.icon-crystal_ball {
  background-image: url("../img/emoji/crystal_ball.png"); }

.icon-cupid {
  background-image: url("../img/emoji/cupid.png"); }

.icon-curly_loop {
  background-image: url("../img/emoji/curly_loop.png"); }

.icon-currency_exchange {
  background-image: url("../img/emoji/currency_exchange.png"); }

.icon-curry {
  background-image: url("../img/emoji/curry.png"); }

.icon-custard {
  background-image: url("../img/emoji/custard.png"); }

.icon-customs {
  background-image: url("../img/emoji/customs.png"); }

.icon-cyclone {
  background-image: url("../img/emoji/cyclone.png"); }

.icon-dancer {
  background-image: url("../img/emoji/dancer.png"); }

.icon-dancers {
  background-image: url("../img/emoji/dancers.png"); }

.icon-dango {
  background-image: url("../img/emoji/dango.png"); }

.icon-dart {
  background-image: url("../img/emoji/dart.png"); }

.icon-dash {
  background-image: url("../img/emoji/dash.png"); }

.icon-date {
  background-image: url("../img/emoji/date.png"); }

.icon-de {
  background-image: url("../img/emoji/de.png"); }

.icon-deciduous_tree {
  background-image: url("../img/emoji/deciduous_tree.png"); }

.icon-department_store {
  background-image: url("../img/emoji/department_store.png"); }

.icon-diamond_shape_with_a_dot_inside {
  background-image: url("../img/emoji/diamond_shape_with_a_dot_inside.png"); }

.icon-diamonds {
  background-image: url("../img/emoji/diamonds.png"); }

.icon-disappointed {
  background-image: url("../img/emoji/disappointed.png"); }

.icon-disappointed_relieved {
  background-image: url("../img/emoji/disappointed_relieved.png"); }

.icon-dizzy {
  background-image: url("../img/emoji/dizzy.png"); }

.icon-dizzy_face {
  background-image: url("../img/emoji/dizzy_face.png"); }

.icon-do_not_litter {
  background-image: url("../img/emoji/do_not_litter.png"); }

.icon-dog {
  background-image: url("../img/emoji/dog.png"); }

.icon-dog2 {
  background-image: url("../img/emoji/dog2.png"); }

.icon-dollar {
  background-image: url("../img/emoji/dollar.png"); }

.icon-dolls {
  background-image: url("../img/emoji/dolls.png"); }

.icon-dolphin {
  background-image: url("../img/emoji/dolphin.png"); }

.icon-donut {
  background-image: url("../img/emoji/donut.png"); }

.icon-door {
  background-image: url("../img/emoji/door.png"); }

.icon-doughnut {
  background-image: url("../img/emoji/doughnut.png"); }

.icon-dragon {
  background-image: url("../img/emoji/dragon.png"); }

.icon-dragon_face {
  background-image: url("../img/emoji/dragon_face.png"); }

.icon-dress {
  background-image: url("../img/emoji/dress.png"); }

.icon-dromedary_camel {
  background-image: url("../img/emoji/dromedary_camel.png"); }

.icon-droplet {
  background-image: url("../img/emoji/droplet.png"); }

.icon-dvd {
  background-image: url("../img/emoji/dvd.png"); }

.icon-e-mail {
  background-image: url("../img/emoji/e-mail.png"); }

.icon-ear {
  background-image: url("../img/emoji/ear.png"); }

.icon-ear_of_rice {
  background-image: url("../img/emoji/ear_of_rice.png"); }

.icon-earth_africa {
  background-image: url("../img/emoji/earth_africa.png"); }

.icon-earth_americas {
  background-image: url("../img/emoji/earth_americas.png"); }

.icon-earth_asia {
  background-image: url("../img/emoji/earth_asia.png"); }

.icon-egg {
  background-image: url("../img/emoji/egg.png"); }

.icon-eggplant {
  background-image: url("../img/emoji/eggplant.png"); }

.icon-eight {
  background-image: url("../img/emoji/eight.png"); }

.icon-eight_pointed_black_star {
  background-image: url("../img/emoji/eight_pointed_black_star.png"); }

.icon-eight_spoked_asterisk {
  background-image: url("../img/emoji/eight_spoked_asterisk.png"); }

.icon-electric_plug {
  background-image: url("../img/emoji/electric_plug.png"); }

.icon-elephant {
  background-image: url("../img/emoji/elephant.png"); }

.icon-email {
  background-image: url("../img/emoji/email.png"); }

.icon-end {
  background-image: url("../img/emoji/end.png"); }

.icon-envelope {
  background-image: url("../img/emoji/envelope.png"); }

.icon-es {
  background-image: url("../img/emoji/es.png"); }

.icon-euro {
  background-image: url("../img/emoji/euro.png"); }

.icon-european_castle {
  background-image: url("../img/emoji/european_castle.png"); }

.icon-european_post_office {
  background-image: url("../img/emoji/european_post_office.png"); }

.icon-evergreen_tree {
  background-image: url("../img/emoji/evergreen_tree.png"); }

.icon-exclamation {
  background-image: url("../img/emoji/exclamation.png"); }

.icon-expressionless {
  background-image: url("../img/emoji/expressionless.png"); }

.icon-eyeglasses {
  background-image: url("../img/emoji/eyeglasses.png"); }

.icon-eyes {
  background-image: url("../img/emoji/eyes.png"); }

.icon-facepunch {
  background-image: url("../img/emoji/facepunch.png"); }

.icon-factory {
  background-image: url("../img/emoji/factory.png"); }

.icon-fallen_leaf {
  background-image: url("../img/emoji/fallen_leaf.png"); }

.icon-family {
  background-image: url("../img/emoji/family.png"); }

.icon-fast_forward {
  background-image: url("../img/emoji/fast_forward.png"); }

.icon-fax {
  background-image: url("../img/emoji/fax.png"); }

.icon-fearful {
  background-image: url("../img/emoji/fearful.png"); }

.icon-feelsgood {
  background-image: url("../img/emoji/feelsgood.png"); }

.icon-feet {
  background-image: url("../img/emoji/feet.png"); }

.icon-ferris_wheel {
  background-image: url("../img/emoji/ferris_wheel.png"); }

.icon-file_folder {
  background-image: url("../img/emoji/file_folder.png"); }

.icon-finnadie {
  background-image: url("../img/emoji/finnadie.png"); }

.icon-fire {
  background-image: url("../img/emoji/fire.png"); }

.icon-fire_engine {
  background-image: url("../img/emoji/fire_engine.png"); }

.icon-fireworks {
  background-image: url("../img/emoji/fireworks.png"); }

.icon-first_quarter_moon {
  background-image: url("../img/emoji/first_quarter_moon.png"); }

.icon-first_quarter_moon_with_face {
  background-image: url("../img/emoji/first_quarter_moon_with_face.png"); }

.icon-fish {
  background-image: url("../img/emoji/fish.png"); }

.icon-fish_cake {
  background-image: url("../img/emoji/fish_cake.png"); }

.icon-fishing_pole_and_fish {
  background-image: url("../img/emoji/fishing_pole_and_fish.png"); }

.icon-fist {
  background-image: url("../img/emoji/fist.png"); }

.icon-five {
  background-image: url("../img/emoji/five.png"); }

.icon-flags {
  background-image: url("../img/emoji/flags.png"); }

.icon-flashlight {
  background-image: url("../img/emoji/flashlight.png"); }

.icon-floppy_disk {
  background-image: url("../img/emoji/floppy_disk.png"); }

.icon-flower_playing_cards {
  background-image: url("../img/emoji/flower_playing_cards.png"); }

.icon-flushed {
  background-image: url("../img/emoji/flushed.png"); }

.icon-foggy {
  background-image: url("../img/emoji/foggy.png"); }

.icon-football {
  background-image: url("../img/emoji/football.png"); }

.icon-fork_and_knife {
  background-image: url("../img/emoji/fork_and_knife.png"); }

.icon-fountain {
  background-image: url("../img/emoji/fountain.png"); }

.icon-four {
  background-image: url("../img/emoji/four.png"); }

.icon-four_leaf_clover {
  background-image: url("../img/emoji/four_leaf_clover.png"); }

.icon-fr {
  background-image: url("../img/emoji/fr.png"); }

.icon-free {
  background-image: url("../img/emoji/free.png"); }

.icon-fried_shrimp {
  background-image: url("../img/emoji/fried_shrimp.png"); }

.icon-fries {
  background-image: url("../img/emoji/fries.png"); }

.icon-frog {
  background-image: url("../img/emoji/frog.png"); }

.icon-frowning {
  background-image: url("../img/emoji/frowning.png"); }

.icon-fu {
  background-image: url("../img/emoji/fu.png"); }

.icon-fuelpump {
  background-image: url("../img/emoji/fuelpump.png"); }

.icon-full_moon {
  background-image: url("../img/emoji/full_moon.png"); }

.icon-full_moon_with_face {
  background-image: url("../img/emoji/full_moon_with_face.png"); }

.icon-game_die {
  background-image: url("../img/emoji/game_die.png"); }

.icon-gb {
  background-image: url("../img/emoji/gb.png"); }

.icon-gem {
  background-image: url("../img/emoji/gem.png"); }

.icon-gemini {
  background-image: url("../img/emoji/gemini.png"); }

.icon-ghost {
  background-image: url("../img/emoji/ghost.png"); }

.icon-gift {
  background-image: url("../img/emoji/gift.png"); }

.icon-gift_heart {
  background-image: url("../img/emoji/gift_heart.png"); }

.icon-girl {
  background-image: url("../img/emoji/girl.png"); }

.icon-globe_with_meridians {
  background-image: url("../img/emoji/globe_with_meridians.png"); }

.icon-goat {
  background-image: url("../img/emoji/goat.png"); }

.icon-goberserk {
  background-image: url("../img/emoji/goberserk.png"); }

.icon-godmode {
  background-image: url("../img/emoji/godmode.png"); }

.icon-golf {
  background-image: url("../img/emoji/golf.png"); }

.icon-grapes {
  background-image: url("../img/emoji/grapes.png"); }

.icon-green_apple {
  background-image: url("../img/emoji/green_apple.png"); }

.icon-green_book {
  background-image: url("../img/emoji/green_book.png"); }

.icon-green_heart {
  background-image: url("../img/emoji/green_heart.png"); }

.icon-grey_exclamation {
  background-image: url("../img/emoji/grey_exclamation.png"); }

.icon-grey_question {
  background-image: url("../img/emoji/grey_question.png"); }

.icon-grimacing {
  background-image: url("../img/emoji/grimacing.png"); }

.icon-grin {
  background-image: url("../img/emoji/grin.png"); }

.icon-grinning {
  background-image: url("../img/emoji/grinning.png"); }

.icon-guardsman {
  background-image: url("../img/emoji/guardsman.png"); }

.icon-guitar {
  background-image: url("../img/emoji/guitar.png"); }

.icon-gun {
  background-image: url("../img/emoji/gun.png"); }

.icon-haircut {
  background-image: url("../img/emoji/haircut.png"); }

.icon-hamburger {
  background-image: url("../img/emoji/hamburger.png"); }

.icon-hammer {
  background-image: url("../img/emoji/hammer.png"); }

.icon-hamster {
  background-image: url("../img/emoji/hamster.png"); }

.icon-hand {
  background-image: url("../img/emoji/hand.png"); }

.icon-handbag {
  background-image: url("../img/emoji/handbag.png"); }

.icon-hankey {
  background-image: url("../img/emoji/hankey.png"); }

.icon-hash {
  background-image: url("../img/emoji/hash.png"); }

.icon-hatched_chick {
  background-image: url("../img/emoji/hatched_chick.png"); }

.icon-hatching_chick {
  background-image: url("../img/emoji/hatching_chick.png"); }

.icon-headphones {
  background-image: url("../img/emoji/headphones.png"); }

.icon-hear_no_evil {
  background-image: url("../img/emoji/hear_no_evil.png"); }

.icon-heart {
  background-image: url("../img/emoji/heart.png"); }

.icon-heart_decoration {
  background-image: url("../img/emoji/heart_decoration.png"); }

.icon-heart_eyes {
  background-image: url("../img/emoji/heart_eyes.png"); }

.icon-heart_eyes_cat {
  background-image: url("../img/emoji/heart_eyes_cat.png"); }

.icon-heartbeat {
  background-image: url("../img/emoji/heartbeat.png"); }

.icon-heartpulse {
  background-image: url("../img/emoji/heartpulse.png"); }

.icon-hearts {
  background-image: url("../img/emoji/hearts.png"); }

.icon-heavy_check_mark {
  background-image: url("../img/emoji/heavy_check_mark.png"); }

.icon-heavy_division_sign {
  background-image: url("../img/emoji/heavy_division_sign.png"); }

.icon-heavy_dollar_sign {
  background-image: url("../img/emoji/heavy_dollar_sign.png"); }

.icon-heavy_exclamation_mark {
  background-image: url("../img/emoji/heavy_exclamation_mark.png"); }

.icon-heavy_minus_sign {
  background-image: url("../img/emoji/heavy_minus_sign.png"); }

.icon-heavy_multiplication_x {
  background-image: url("../img/emoji/heavy_multiplication_x.png"); }

.icon-heavy_plus_sign {
  background-image: url("../img/emoji/heavy_plus_sign.png"); }

.icon-helicopter {
  background-image: url("../img/emoji/helicopter.png"); }

.icon-herb {
  background-image: url("../img/emoji/herb.png"); }

.icon-hibiscus {
  background-image: url("../img/emoji/hibiscus.png"); }

.icon-high_brightness {
  background-image: url("../img/emoji/high_brightness.png"); }

.icon-high_heel {
  background-image: url("../img/emoji/high_heel.png"); }

.icon-hocho {
  background-image: url("../img/emoji/hocho.png"); }

.icon-honey_pot {
  background-image: url("../img/emoji/honey_pot.png"); }

.icon-honeybee {
  background-image: url("../img/emoji/honeybee.png"); }

.icon-horse {
  background-image: url("../img/emoji/horse.png"); }

.icon-horse_racing {
  background-image: url("../img/emoji/horse_racing.png"); }

.icon-hospital {
  background-image: url("../img/emoji/hospital.png"); }

.icon-hotel {
  background-image: url("../img/emoji/hotel.png"); }

.icon-hotsprings {
  background-image: url("../img/emoji/hotsprings.png"); }

.icon-hourglass {
  background-image: url("../img/emoji/hourglass.png"); }

.icon-hourglass_flowing_sand {
  background-image: url("../img/emoji/hourglass_flowing_sand.png"); }

.icon-house {
  background-image: url("../img/emoji/house.png"); }

.icon-house_with_garden {
  background-image: url("../img/emoji/house_with_garden.png"); }

.icon-hurtrealbad {
  background-image: url("../img/emoji/hurtrealbad.png"); }

.icon-hushed {
  background-image: url("../img/emoji/hushed.png"); }

.icon-ice_cream {
  background-image: url("../img/emoji/ice_cream.png"); }

.icon-icecream {
  background-image: url("../img/emoji/icecream.png"); }

.icon-id {
  background-image: url("../img/emoji/id.png"); }

.icon-ideograph_advantage {
  background-image: url("../img/emoji/ideograph_advantage.png"); }

.icon-imp {
  background-image: url("../img/emoji/imp.png"); }

.icon-inbox_tray {
  background-image: url("../img/emoji/inbox_tray.png"); }

.icon-incoming_envelope {
  background-image: url("../img/emoji/incoming_envelope.png"); }

.icon-information_desk_person {
  background-image: url("../img/emoji/information_desk_person.png"); }

.icon-information_source {
  background-image: url("../img/emoji/information_source.png"); }

.icon-innocent {
  background-image: url("../img/emoji/innocent.png"); }

.icon-interrobang {
  background-image: url("../img/emoji/interrobang.png"); }

.icon-iphone {
  background-image: url("../img/emoji/iphone.png"); }

.icon-it {
  background-image: url("../img/emoji/it.png"); }

.icon-izakaya_lantern {
  background-image: url("../img/emoji/izakaya_lantern.png"); }

.icon-jack_o_lantern {
  background-image: url("../img/emoji/jack_o_lantern.png"); }

.icon-japan {
  background-image: url("../img/emoji/japan.png"); }

.icon-japanese_castle {
  background-image: url("../img/emoji/japanese_castle.png"); }

.icon-japanese_goblin {
  background-image: url("../img/emoji/japanese_goblin.png"); }

.icon-japanese_ogre {
  background-image: url("../img/emoji/japanese_ogre.png"); }

.icon-jeans {
  background-image: url("../img/emoji/jeans.png"); }

.icon-joy {
  background-image: url("../img/emoji/joy.png"); }

.icon-joy_cat {
  background-image: url("../img/emoji/joy_cat.png"); }

.icon-jp {
  background-image: url("../img/emoji/jp.png"); }

.icon-key {
  background-image: url("../img/emoji/key.png"); }

.icon-keycap_ten {
  background-image: url("../img/emoji/keycap_ten.png"); }

.icon-kimono {
  background-image: url("../img/emoji/kimono.png"); }

.icon-kiss {
  background-image: url("../img/emoji/kiss.png"); }

.icon-kissing {
  background-image: url("../img/emoji/kissing.png"); }

.icon-kissing_cat {
  background-image: url("../img/emoji/kissing_cat.png"); }

.icon-kissing_closed_eyes {
  background-image: url("../img/emoji/kissing_closed_eyes.png"); }

.icon-kissing_face {
  background-image: url("../img/emoji/kissing_face.png"); }

.icon-kissing_heart {
  background-image: url("../img/emoji/kissing_heart.png"); }

.icon-kissing_smiling_eyes {
  background-image: url("../img/emoji/kissing_smiling_eyes.png"); }

.icon-koala {
  background-image: url("../img/emoji/koala.png"); }

.icon-koko {
  background-image: url("../img/emoji/koko.png"); }

.icon-kr {
  background-image: url("../img/emoji/kr.png"); }

.icon-large_blue_circle {
  background-image: url("../img/emoji/large_blue_circle.png"); }

.icon-large_blue_diamond {
  background-image: url("../img/emoji/large_blue_diamond.png"); }

.icon-large_orange_diamond {
  background-image: url("../img/emoji/large_orange_diamond.png"); }

.icon-last_quarter_moon {
  background-image: url("../img/emoji/last_quarter_moon.png"); }

.icon-last_quarter_moon_with_face {
  background-image: url("../img/emoji/last_quarter_moon_with_face.png"); }

.icon-laughing {
  background-image: url("../img/emoji/laughing.png"); }

.icon-leaves {
  background-image: url("../img/emoji/leaves.png"); }

.icon-ledger {
  background-image: url("../img/emoji/ledger.png"); }

.icon-left_luggage {
  background-image: url("../img/emoji/left_luggage.png"); }

.icon-left_right_arrow {
  background-image: url("../img/emoji/left_right_arrow.png"); }

.icon-leftwards_arrow_with_hook {
  background-image: url("../img/emoji/leftwards_arrow_with_hook.png"); }

.icon-lemon {
  background-image: url("../img/emoji/lemon.png"); }

.icon-leo {
  background-image: url("../img/emoji/leo.png"); }

.icon-leopard {
  background-image: url("../img/emoji/leopard.png"); }

.icon-libra {
  background-image: url("../img/emoji/libra.png"); }

.icon-light_rail {
  background-image: url("../img/emoji/light_rail.png"); }

.icon-link {
  background-image: url("../img/emoji/link.png"); }

.icon-lips {
  background-image: url("../img/emoji/lips.png"); }

.icon-lipstick {
  background-image: url("../img/emoji/lipstick.png"); }

.icon-lock {
  background-image: url("../img/emoji/lock.png"); }

.icon-lock_with_ink_pen {
  background-image: url("../img/emoji/lock_with_ink_pen.png"); }

.icon-lollipop {
  background-image: url("../img/emoji/lollipop.png"); }

.icon-loop {
  background-image: url("../img/emoji/loop.png"); }

.icon-loudspeaker {
  background-image: url("../img/emoji/loudspeaker.png"); }

.icon-love_hotel {
  background-image: url("../img/emoji/love_hotel.png"); }

.icon-love_letter {
  background-image: url("../img/emoji/love_letter.png"); }

.icon-low_brightness {
  background-image: url("../img/emoji/low_brightness.png"); }

.icon-m {
  background-image: url("../img/emoji/m.png"); }

.icon-mag {
  background-image: url("../img/emoji/mag.png"); }

.icon-mag_right {
  background-image: url("../img/emoji/mag_right.png"); }

.icon-mahjong {
  background-image: url("../img/emoji/mahjong.png"); }

.icon-mailbox {
  background-image: url("../img/emoji/mailbox.png"); }

.icon-mailbox_closed {
  background-image: url("../img/emoji/mailbox_closed.png"); }

.icon-mailbox_with_mail {
  background-image: url("../img/emoji/mailbox_with_mail.png"); }

.icon-mailbox_with_no_mail {
  background-image: url("../img/emoji/mailbox_with_no_mail.png"); }

.icon-man {
  background-image: url("../img/emoji/man.png"); }

.icon-man_with_gua_pi_mao {
  background-image: url("../img/emoji/man_with_gua_pi_mao.png"); }

.icon-man_with_turban {
  background-image: url("../img/emoji/man_with_turban.png"); }

.icon-mans_shoe {
  background-image: url("../img/emoji/mans_shoe.png"); }

.icon-maple_leaf {
  background-image: url("../img/emoji/maple_leaf.png"); }

.icon-mask {
  background-image: url("../img/emoji/mask.png"); }

.icon-massage {
  background-image: url("../img/emoji/massage.png"); }

.icon-meat_on_bone {
  background-image: url("../img/emoji/meat_on_bone.png"); }

.icon-mega {
  background-image: url("../img/emoji/mega.png"); }

.icon-melon {
  background-image: url("../img/emoji/melon.png"); }

.icon-memo {
  background-image: url("../img/emoji/memo.png"); }

.icon-mens {
  background-image: url("../img/emoji/mens.png"); }

.icon-metal {
  background-image: url("../img/emoji/metal.png"); }

.icon-metro {
  background-image: url("../img/emoji/metro.png"); }

.icon-microphone {
  background-image: url("../img/emoji/microphone.png"); }

.icon-microscope {
  background-image: url("../img/emoji/microscope.png"); }

.icon-milky_way {
  background-image: url("../img/emoji/milky_way.png"); }

.icon-minibus {
  background-image: url("../img/emoji/minibus.png"); }

.icon-minidisc {
  background-image: url("../img/emoji/minidisc.png"); }

.icon-mobile_phone_off {
  background-image: url("../img/emoji/mobile_phone_off.png"); }

.icon-money_with_wings {
  background-image: url("../img/emoji/money_with_wings.png"); }

.icon-moneybag {
  background-image: url("../img/emoji/moneybag.png"); }

.icon-monkey {
  background-image: url("../img/emoji/monkey.png"); }

.icon-monkey_face {
  background-image: url("../img/emoji/monkey_face.png"); }

.icon-monorail {
  background-image: url("../img/emoji/monorail.png"); }

.icon-moon {
  background-image: url("../img/emoji/moon.png"); }

.icon-mortar_board {
  background-image: url("../img/emoji/mortar_board.png"); }

.icon-mount_fuji {
  background-image: url("../img/emoji/mount_fuji.png"); }

.icon-mountain_bicyclist {
  background-image: url("../img/emoji/mountain_bicyclist.png"); }

.icon-mountain_cableway {
  background-image: url("../img/emoji/mountain_cableway.png"); }

.icon-mountain_railway {
  background-image: url("../img/emoji/mountain_railway.png"); }

.icon-mouse {
  background-image: url("../img/emoji/mouse.png"); }

.icon-mouse2 {
  background-image: url("../img/emoji/mouse2.png"); }

.icon-movie_camera {
  background-image: url("../img/emoji/movie_camera.png"); }

.icon-moyai {
  background-image: url("../img/emoji/moyai.png"); }

.icon-muscle {
  background-image: url("../img/emoji/muscle.png"); }

.icon-mushroom {
  background-image: url("../img/emoji/mushroom.png"); }

.icon-musical_keyboard {
  background-image: url("../img/emoji/musical_keyboard.png"); }

.icon-musical_note {
  background-image: url("../img/emoji/musical_note.png"); }

.icon-musical_score {
  background-image: url("../img/emoji/musical_score.png"); }

.icon-mute {
  background-image: url("../img/emoji/mute.png"); }

.icon-nail_care {
  background-image: url("../img/emoji/nail_care.png"); }

.icon-name_badge {
  background-image: url("../img/emoji/name_badge.png"); }

.icon-neckbeard {
  background-image: url("../img/emoji/neckbeard.png"); }

.icon-necktie {
  background-image: url("../img/emoji/necktie.png"); }

.icon-negative_squared_cross_mark {
  background-image: url("../img/emoji/negative_squared_cross_mark.png"); }

.icon-neutral_face {
  background-image: url("../img/emoji/neutral_face.png"); }

.icon-new {
  background-image: url("../img/emoji/new.png"); }

.icon-new_moon {
  background-image: url("../img/emoji/new_moon.png"); }

.icon-new_moon_with_face {
  background-image: url("../img/emoji/new_moon_with_face.png"); }

.icon-newspaper {
  background-image: url("../img/emoji/newspaper.png"); }

.icon-ng {
  background-image: url("../img/emoji/ng.png"); }

.icon-nine {
  background-image: url("../img/emoji/nine.png"); }

.icon-no_bell {
  background-image: url("../img/emoji/no_bell.png"); }

.icon-no_bicycles {
  background-image: url("../img/emoji/no_bicycles.png"); }

.icon-no_entry {
  background-image: url("../img/emoji/no_entry.png"); }

.icon-no_entry_sign {
  background-image: url("../img/emoji/no_entry_sign.png"); }

.icon-no_good {
  background-image: url("../img/emoji/no_good.png"); }

.icon-no_mobile_phones {
  background-image: url("../img/emoji/no_mobile_phones.png"); }

.icon-no_mouth {
  background-image: url("../img/emoji/no_mouth.png"); }

.icon-no_pedestrians {
  background-image: url("../img/emoji/no_pedestrians.png"); }

.icon-no_smoking {
  background-image: url("../img/emoji/no_smoking.png"); }

.icon-non-potable_water {
  background-image: url("../img/emoji/non-potable_water.png"); }

.icon-nose {
  background-image: url("../img/emoji/nose.png"); }

.icon-notebook {
  background-image: url("../img/emoji/notebook.png"); }

.icon-notebook_with_decorative_cover {
  background-image: url("../img/emoji/notebook_with_decorative_cover.png"); }

.icon-notes {
  background-image: url("../img/emoji/notes.png"); }

.icon-nut_and_bolt {
  background-image: url("../img/emoji/nut_and_bolt.png"); }

.icon-o {
  background-image: url("../img/emoji/o.png"); }

.icon-o2 {
  background-image: url("../img/emoji/o2.png"); }

.icon-ocean {
  background-image: url("../img/emoji/ocean.png"); }

.icon-octocat {
  background-image: url("../img/emoji/octocat.png"); }

.icon-octopus {
  background-image: url("../img/emoji/octopus.png"); }

.icon-oden {
  background-image: url("../img/emoji/oden.png"); }

.icon-office {
  background-image: url("../img/emoji/office.png"); }

.icon-ok {
  background-image: url("../img/emoji/ok.png"); }

.icon-ok_hand {
  background-image: url("../img/emoji/ok_hand.png"); }

.icon-ok_woman {
  background-image: url("../img/emoji/ok_woman.png"); }

.icon-older_man {
  background-image: url("../img/emoji/older_man.png"); }

.icon-older_woman {
  background-image: url("../img/emoji/older_woman.png"); }

.icon-on {
  background-image: url("../img/emoji/on.png"); }

.icon-oncoming_automobile {
  background-image: url("../img/emoji/oncoming_automobile.png"); }

.icon-oncoming_bus {
  background-image: url("../img/emoji/oncoming_bus.png"); }

.icon-oncoming_police_car {
  background-image: url("../img/emoji/oncoming_police_car.png"); }

.icon-oncoming_taxi {
  background-image: url("../img/emoji/oncoming_taxi.png"); }

.icon-one {
  background-image: url("../img/emoji/one.png"); }

.icon-open_file_folder {
  background-image: url("../img/emoji/open_file_folder.png"); }

.icon-open_hands {
  background-image: url("../img/emoji/open_hands.png"); }

.icon-open_mouth {
  background-image: url("../img/emoji/open_mouth.png"); }

.icon-ophiuchus {
  background-image: url("../img/emoji/ophiuchus.png"); }

.icon-orange_book {
  background-image: url("../img/emoji/orange_book.png"); }

.icon-outbox_tray {
  background-image: url("../img/emoji/outbox_tray.png"); }

.icon-ox {
  background-image: url("../img/emoji/ox.png"); }

.icon-package {
  background-image: url("../img/emoji/package.png"); }

.icon-page_facing_up {
  background-image: url("../img/emoji/page_facing_up.png"); }

.icon-page_with_curl {
  background-image: url("../img/emoji/page_with_curl.png"); }

.icon-pager {
  background-image: url("../img/emoji/pager.png"); }

.icon-palm_tree {
  background-image: url("../img/emoji/palm_tree.png"); }

.icon-panda_face {
  background-image: url("../img/emoji/panda_face.png"); }

.icon-paperclip {
  background-image: url("../img/emoji/paperclip.png"); }

.icon-parking {
  background-image: url("../img/emoji/parking.png"); }

.icon-part_alternation_mark {
  background-image: url("../img/emoji/part_alternation_mark.png"); }

.icon-partly_sunny {
  background-image: url("../img/emoji/partly_sunny.png"); }

.icon-passport_control {
  background-image: url("../img/emoji/passport_control.png"); }

.icon-paw_prints {
  background-image: url("../img/emoji/paw_prints.png"); }

.icon-peach {
  background-image: url("../img/emoji/peach.png"); }

.icon-pear {
  background-image: url("../img/emoji/pear.png"); }

.icon-pencil {
  background-image: url("../img/emoji/pencil.png"); }

.icon-pencil2 {
  background-image: url("../img/emoji/pencil2.png"); }

.icon-penguin {
  background-image: url("../img/emoji/penguin.png"); }

.icon-pensive {
  background-image: url("../img/emoji/pensive.png"); }

.icon-performing_arts {
  background-image: url("../img/emoji/performing_arts.png"); }

.icon-persevere {
  background-image: url("../img/emoji/persevere.png"); }

.icon-person_frowning {
  background-image: url("../img/emoji/person_frowning.png"); }

.icon-person_with_blond_hair {
  background-image: url("../img/emoji/person_with_blond_hair.png"); }

.icon-person_with_pouting_face {
  background-image: url("../img/emoji/person_with_pouting_face.png"); }

.icon-phone {
  background-image: url("../img/emoji/phone.png"); }

.icon-pig {
  background-image: url("../img/emoji/pig.png"); }

.icon-pig2 {
  background-image: url("../img/emoji/pig2.png"); }

.icon-pig_nose {
  background-image: url("../img/emoji/pig_nose.png"); }

.icon-pill {
  background-image: url("../img/emoji/pill.png"); }

.icon-pineapple {
  background-image: url("../img/emoji/pineapple.png"); }

.icon-pisces {
  background-image: url("../img/emoji/pisces.png"); }

.icon-pizza {
  background-image: url("../img/emoji/pizza.png"); }

.icon-plus1 {
  background-image: url("../img/emoji/plus1.png"); }

.icon-point_down {
  background-image: url("../img/emoji/point_down.png"); }

.icon-point_left {
  background-image: url("../img/emoji/point_left.png"); }

.icon-point_right {
  background-image: url("../img/emoji/point_right.png"); }

.icon-point_up {
  background-image: url("../img/emoji/point_up.png"); }

.icon-point_up_2 {
  background-image: url("../img/emoji/point_up_2.png"); }

.icon-police_car {
  background-image: url("../img/emoji/police_car.png"); }

.icon-poodle {
  background-image: url("../img/emoji/poodle.png"); }

.icon-poop {
  background-image: url("../img/emoji/poop.png"); }

.icon-post_office {
  background-image: url("../img/emoji/post_office.png"); }

.icon-postal_horn {
  background-image: url("../img/emoji/postal_horn.png"); }

.icon-postbox {
  background-image: url("../img/emoji/postbox.png"); }

.icon-potable_water {
  background-image: url("../img/emoji/potable_water.png"); }

.icon-pouch {
  background-image: url("../img/emoji/pouch.png"); }

.icon-poultry_leg {
  background-image: url("../img/emoji/poultry_leg.png"); }

.icon-pound {
  background-image: url("../img/emoji/pound.png"); }

.icon-pouting_cat {
  background-image: url("../img/emoji/pouting_cat.png"); }

.icon-pray {
  background-image: url("../img/emoji/pray.png"); }

.icon-princess {
  background-image: url("../img/emoji/princess.png"); }

.icon-punch {
  background-image: url("../img/emoji/punch.png"); }

.icon-purple_heart {
  background-image: url("../img/emoji/purple_heart.png"); }

.icon-purse {
  background-image: url("../img/emoji/purse.png"); }

.icon-pushpin {
  background-image: url("../img/emoji/pushpin.png"); }

.icon-put_litter_in_its_place {
  background-image: url("../img/emoji/put_litter_in_its_place.png"); }

.icon-question {
  background-image: url("../img/emoji/question.png"); }

.icon-rabbit {
  background-image: url("../img/emoji/rabbit.png"); }

.icon-rabbit2 {
  background-image: url("../img/emoji/rabbit2.png"); }

.icon-racehorse {
  background-image: url("../img/emoji/racehorse.png"); }

.icon-radio {
  background-image: url("../img/emoji/radio.png"); }

.icon-radio_button {
  background-image: url("../img/emoji/radio_button.png"); }

.icon-rage {
  background-image: url("../img/emoji/rage.png"); }

.icon-rage1 {
  background-image: url("../img/emoji/rage1.png"); }

.icon-rage2 {
  background-image: url("../img/emoji/rage2.png"); }

.icon-rage3 {
  background-image: url("../img/emoji/rage3.png"); }

.icon-rage4 {
  background-image: url("../img/emoji/rage4.png"); }

.icon-railway_car {
  background-image: url("../img/emoji/railway_car.png"); }

.icon-rainbow {
  background-image: url("../img/emoji/rainbow.png"); }

.icon-raised_hand {
  background-image: url("../img/emoji/raised_hand.png"); }

.icon-raised_hands {
  background-image: url("../img/emoji/raised_hands.png"); }

.icon-raising_hand {
  background-image: url("../img/emoji/raising_hand.png"); }

.icon-ram {
  background-image: url("../img/emoji/ram.png"); }

.icon-ramen {
  background-image: url("../img/emoji/ramen.png"); }

.icon-rat {
  background-image: url("../img/emoji/rat.png"); }

.icon-recycle {
  background-image: url("../img/emoji/recycle.png"); }

.icon-red_car {
  background-image: url("../img/emoji/red_car.png"); }

.icon-red_circle {
  background-image: url("../img/emoji/red_circle.png"); }

.icon-registered {
  background-image: url("../img/emoji/registered.png"); }

.icon-relaxed {
  background-image: url("../img/emoji/relaxed.png"); }

.icon-relieved {
  background-image: url("../img/emoji/relieved.png"); }

.icon-repeat {
  background-image: url("../img/emoji/repeat.png"); }

.icon-repeat_one {
  background-image: url("../img/emoji/repeat_one.png"); }

.icon-restroom {
  background-image: url("../img/emoji/restroom.png"); }

.icon-revolving_hearts {
  background-image: url("../img/emoji/revolving_hearts.png"); }

.icon-rewind {
  background-image: url("../img/emoji/rewind.png"); }

.icon-ribbon {
  background-image: url("../img/emoji/ribbon.png"); }

.icon-rice {
  background-image: url("../img/emoji/rice.png"); }

.icon-rice_ball {
  background-image: url("../img/emoji/rice_ball.png"); }

.icon-rice_cracker {
  background-image: url("../img/emoji/rice_cracker.png"); }

.icon-rice_scene {
  background-image: url("../img/emoji/rice_scene.png"); }

.icon-ring {
  background-image: url("../img/emoji/ring.png"); }

.icon-rocket {
  background-image: url("../img/emoji/rocket.png"); }

.icon-roller_coaster {
  background-image: url("../img/emoji/roller_coaster.png"); }

.icon-rooster {
  background-image: url("../img/emoji/rooster.png"); }

.icon-rose {
  background-image: url("../img/emoji/rose.png"); }

.icon-rotating_light {
  background-image: url("../img/emoji/rotating_light.png"); }

.icon-round_pushpin {
  background-image: url("../img/emoji/round_pushpin.png"); }

.icon-rowboat {
  background-image: url("../img/emoji/rowboat.png"); }

.icon-ru {
  background-image: url("../img/emoji/ru.png"); }

.icon-rugby_football {
  background-image: url("../img/emoji/rugby_football.png"); }

.icon-runner {
  background-image: url("../img/emoji/runner.png"); }

.icon-running {
  background-image: url("../img/emoji/running.png"); }

.icon-running_shirt_with_sash {
  background-image: url("../img/emoji/running_shirt_with_sash.png"); }

.icon-sa {
  background-image: url("../img/emoji/sa.png"); }

.icon-sagittarius {
  background-image: url("../img/emoji/sagittarius.png"); }

.icon-sailboat {
  background-image: url("../img/emoji/sailboat.png"); }

.icon-sake {
  background-image: url("../img/emoji/sake.png"); }

.icon-sandal {
  background-image: url("../img/emoji/sandal.png"); }

.icon-santa {
  background-image: url("../img/emoji/santa.png"); }

.icon-satellite {
  background-image: url("../img/emoji/satellite.png"); }

.icon-satisfied {
  background-image: url("../img/emoji/satisfied.png"); }

.icon-saxophone {
  background-image: url("../img/emoji/saxophone.png"); }

.icon-school {
  background-image: url("../img/emoji/school.png"); }

.icon-school_satchel {
  background-image: url("../img/emoji/school_satchel.png"); }

.icon-scissors {
  background-image: url("../img/emoji/scissors.png"); }

.icon-scorpius {
  background-image: url("../img/emoji/scorpius.png"); }

.icon-scream {
  background-image: url("../img/emoji/scream.png"); }

.icon-scream_cat {
  background-image: url("../img/emoji/scream_cat.png"); }

.icon-scroll {
  background-image: url("../img/emoji/scroll.png"); }

.icon-seat {
  background-image: url("../img/emoji/seat.png"); }

.icon-secret {
  background-image: url("../img/emoji/secret.png"); }

.icon-see_no_evil {
  background-image: url("../img/emoji/see_no_evil.png"); }

.icon-seedling {
  background-image: url("../img/emoji/seedling.png"); }

.icon-seven {
  background-image: url("../img/emoji/seven.png"); }

.icon-shaved_ice {
  background-image: url("../img/emoji/shaved_ice.png"); }

.icon-sheep {
  background-image: url("../img/emoji/sheep.png"); }

.icon-shell {
  background-image: url("../img/emoji/shell.png"); }

.icon-ship {
  background-image: url("../img/emoji/ship.png"); }

.icon-shipit {
  background-image: url("../img/emoji/shipit.png"); }

.icon-shirt {
  background-image: url("../img/emoji/shirt.png"); }

.icon-shit {
  background-image: url("../img/emoji/shit.png"); }

.icon-shoe {
  background-image: url("../img/emoji/shoe.png"); }

.icon-shower {
  background-image: url("../img/emoji/shower.png"); }

.icon-signal_strength {
  background-image: url("../img/emoji/signal_strength.png"); }

.icon-six {
  background-image: url("../img/emoji/six.png"); }

.icon-six_pointed_star {
  background-image: url("../img/emoji/six_pointed_star.png"); }

.icon-ski {
  background-image: url("../img/emoji/ski.png"); }

.icon-skull {
  background-image: url("../img/emoji/skull.png"); }

.icon-sleeping {
  background-image: url("../img/emoji/sleeping.png"); }

.icon-sleepy {
  background-image: url("../img/emoji/sleepy.png"); }

.icon-slot_machine {
  background-image: url("../img/emoji/slot_machine.png"); }

.icon-small_blue_diamond {
  background-image: url("../img/emoji/small_blue_diamond.png"); }

.icon-small_orange_diamond {
  background-image: url("../img/emoji/small_orange_diamond.png"); }

.icon-small_red_triangle {
  background-image: url("../img/emoji/small_red_triangle.png"); }

.icon-small_red_triangle_down {
  background-image: url("../img/emoji/small_red_triangle_down.png"); }

.icon-smile {
  background-image: url("../img/emoji/smile.png"); }

.icon-smile_cat {
  background-image: url("../img/emoji/smile_cat.png"); }

.icon-smiley {
  background-image: url("../img/emoji/smiley.png"); }

.icon-smiley_cat {
  background-image: url("../img/emoji/smiley_cat.png"); }

.icon-smiling_imp {
  background-image: url("../img/emoji/smiling_imp.png"); }

.icon-smirk {
  background-image: url("../img/emoji/smirk.png"); }

.icon-smirk_cat {
  background-image: url("../img/emoji/smirk_cat.png"); }

.icon-smoking {
  background-image: url("../img/emoji/smoking.png"); }

.icon-snail {
  background-image: url("../img/emoji/snail.png"); }

.icon-snake {
  background-image: url("../img/emoji/snake.png"); }

.icon-snowboarder {
  background-image: url("../img/emoji/snowboarder.png"); }

.icon-snowflake {
  background-image: url("../img/emoji/snowflake.png"); }

.icon-snowman {
  background-image: url("../img/emoji/snowman.png"); }

.icon-sob {
  background-image: url("../img/emoji/sob.png"); }

.icon-soccer {
  background-image: url("../img/emoji/soccer.png"); }

.icon-soon {
  background-image: url("../img/emoji/soon.png"); }

.icon-sos {
  background-image: url("../img/emoji/sos.png"); }

.icon-sound {
  background-image: url("../img/emoji/sound.png"); }

.icon-space_invader {
  background-image: url("../img/emoji/space_invader.png"); }

.icon-spades {
  background-image: url("../img/emoji/spades.png"); }

.icon-spaghetti {
  background-image: url("../img/emoji/spaghetti.png"); }

.icon-sparkle {
  background-image: url("../img/emoji/sparkle.png"); }

.icon-sparkler {
  background-image: url("../img/emoji/sparkler.png"); }

.icon-sparkles {
  background-image: url("../img/emoji/sparkles.png"); }

.icon-sparkling_heart {
  background-image: url("../img/emoji/sparkling_heart.png"); }

.icon-speak_no_evil {
  background-image: url("../img/emoji/speak_no_evil.png"); }

.icon-speaker {
  background-image: url("../img/emoji/speaker.png"); }

.icon-speech_balloon {
  background-image: url("../img/emoji/speech_balloon.png"); }

.icon-speedboat {
  background-image: url("../img/emoji/speedboat.png"); }

.icon-squirrel {
  background-image: url("../img/emoji/squirrel.png"); }

.icon-star {
  background-image: url("../img/emoji/star.png"); }

.icon-star2 {
  background-image: url("../img/emoji/star2.png"); }

.icon-stars {
  background-image: url("../img/emoji/stars.png"); }

.icon-station {
  background-image: url("../img/emoji/station.png"); }

.icon-statue_of_liberty {
  background-image: url("../img/emoji/statue_of_liberty.png"); }

.icon-steam_locomotive {
  background-image: url("../img/emoji/steam_locomotive.png"); }

.icon-stew {
  background-image: url("../img/emoji/stew.png"); }

.icon-straight_ruler {
  background-image: url("../img/emoji/straight_ruler.png"); }

.icon-strawberry {
  background-image: url("../img/emoji/strawberry.png"); }

.icon-stuck_out_tongue {
  background-image: url("../img/emoji/stuck_out_tongue.png"); }

.icon-stuck_out_tongue_closed_eyes {
  background-image: url("../img/emoji/stuck_out_tongue_closed_eyes.png"); }

.icon-stuck_out_tongue_winking_eye {
  background-image: url("../img/emoji/stuck_out_tongue_winking_eye.png"); }

.icon-sun_with_face {
  background-image: url("../img/emoji/sun_with_face.png"); }

.icon-sunflower {
  background-image: url("../img/emoji/sunflower.png"); }

.icon-sunglasses {
  background-image: url("../img/emoji/sunglasses.png"); }

.icon-sunny {
  background-image: url("../img/emoji/sunny.png"); }

.icon-sunrise {
  background-image: url("../img/emoji/sunrise.png"); }

.icon-sunrise_over_mountains {
  background-image: url("../img/emoji/sunrise_over_mountains.png"); }

.icon-surfer {
  background-image: url("../img/emoji/surfer.png"); }

.icon-sushi {
  background-image: url("../img/emoji/sushi.png"); }

.icon-suspect {
  background-image: url("../img/emoji/suspect.png"); }

.icon-suspension_railway {
  background-image: url("../img/emoji/suspension_railway.png"); }

.icon-sweat {
  background-image: url("../img/emoji/sweat.png"); }

.icon-sweat_drops {
  background-image: url("../img/emoji/sweat_drops.png"); }

.icon-sweat_smile {
  background-image: url("../img/emoji/sweat_smile.png"); }

.icon-sweet_potato {
  background-image: url("../img/emoji/sweet_potato.png"); }

.icon-swimmer {
  background-image: url("../img/emoji/swimmer.png"); }

.icon-symbols {
  background-image: url("../img/emoji/symbols.png"); }

.icon-syringe {
  background-image: url("../img/emoji/syringe.png"); }

.icon-tada {
  background-image: url("../img/emoji/tada.png"); }

.icon-tanabata_tree {
  background-image: url("../img/emoji/tanabata_tree.png"); }

.icon-tangerine {
  background-image: url("../img/emoji/tangerine.png"); }

.icon-taurus {
  background-image: url("../img/emoji/taurus.png"); }

.icon-taxi {
  background-image: url("../img/emoji/taxi.png"); }

.icon-tea {
  background-image: url("../img/emoji/tea.png"); }

.icon-telephone {
  background-image: url("../img/emoji/telephone.png"); }

.icon-telephone_receiver {
  background-image: url("../img/emoji/telephone_receiver.png"); }

.icon-telescope {
  background-image: url("../img/emoji/telescope.png"); }

.icon-tennis {
  background-image: url("../img/emoji/tennis.png"); }

.icon-tent {
  background-image: url("../img/emoji/tent.png"); }

.icon-thought_balloon {
  background-image: url("../img/emoji/thought_balloon.png"); }

.icon-three {
  background-image: url("../img/emoji/three.png"); }

.icon-thumbsdown {
  background-image: url("../img/emoji/thumbsdown.png"); }

.icon-thumbsup {
  background-image: url("../img/emoji/thumbsup.png"); }

.icon-ticket {
  background-image: url("../img/emoji/ticket.png"); }

.icon-tiger {
  background-image: url("../img/emoji/tiger.png"); }

.icon-tiger2 {
  background-image: url("../img/emoji/tiger2.png"); }

.icon-tired_face {
  background-image: url("../img/emoji/tired_face.png"); }

.icon-tm {
  background-image: url("../img/emoji/tm.png"); }

.icon-toilet {
  background-image: url("../img/emoji/toilet.png"); }

.icon-tokyo_tower {
  background-image: url("../img/emoji/tokyo_tower.png"); }

.icon-tomato {
  background-image: url("../img/emoji/tomato.png"); }

.icon-tongue {
  background-image: url("../img/emoji/tongue.png"); }

.icon-top {
  background-image: url("../img/emoji/top.png"); }

.icon-tophat {
  background-image: url("../img/emoji/tophat.png"); }

.icon-tractor {
  background-image: url("../img/emoji/tractor.png"); }

.icon-traffic_light {
  background-image: url("../img/emoji/traffic_light.png"); }

.icon-train {
  background-image: url("../img/emoji/train.png"); }

.icon-train2 {
  background-image: url("../img/emoji/train2.png"); }

.icon-tram {
  background-image: url("../img/emoji/tram.png"); }

.icon-triangular_flag_on_post {
  background-image: url("../img/emoji/triangular_flag_on_post.png"); }

.icon-triangular_ruler {
  background-image: url("../img/emoji/triangular_ruler.png"); }

.icon-trident {
  background-image: url("../img/emoji/trident.png"); }

.icon-triumph {
  background-image: url("../img/emoji/triumph.png"); }

.icon-trolleybus {
  background-image: url("../img/emoji/trolleybus.png"); }

.icon-trollface {
  background-image: url("../img/emoji/trollface.png"); }

.icon-trophy {
  background-image: url("../img/emoji/trophy.png"); }

.icon-tropical_drink {
  background-image: url("../img/emoji/tropical_drink.png"); }

.icon-tropical_fish {
  background-image: url("../img/emoji/tropical_fish.png"); }

.icon-truck {
  background-image: url("../img/emoji/truck.png"); }

.icon-trumpet {
  background-image: url("../img/emoji/trumpet.png"); }

.icon-tshirt {
  background-image: url("../img/emoji/tshirt.png"); }

.icon-tulip {
  background-image: url("../img/emoji/tulip.png"); }

.icon-turtle {
  background-image: url("../img/emoji/turtle.png"); }

.icon-tv {
  background-image: url("../img/emoji/tv.png"); }

.icon-twisted_rightwards_arrows {
  background-image: url("../img/emoji/twisted_rightwards_arrows.png"); }

.icon-two {
  background-image: url("../img/emoji/two.png"); }

.icon-two_hearts {
  background-image: url("../img/emoji/two_hearts.png"); }

.icon-two_men_holding_hands {
  background-image: url("../img/emoji/two_men_holding_hands.png"); }

.icon-two_women_holding_hands {
  background-image: url("../img/emoji/two_women_holding_hands.png"); }

.icon-u5272 {
  background-image: url("../img/emoji/u5272.png"); }

.icon-u5408 {
  background-image: url("../img/emoji/u5408.png"); }

.icon-u55b6 {
  background-image: url("../img/emoji/u55b6.png"); }

.icon-u6307 {
  background-image: url("../img/emoji/u6307.png"); }

.icon-u6708 {
  background-image: url("../img/emoji/u6708.png"); }

.icon-u6709 {
  background-image: url("../img/emoji/u6709.png"); }

.icon-u6e80 {
  background-image: url("../img/emoji/u6e80.png"); }

.icon-u7121 {
  background-image: url("../img/emoji/u7121.png"); }

.icon-u7533 {
  background-image: url("../img/emoji/u7533.png"); }

.icon-u7981 {
  background-image: url("../img/emoji/u7981.png"); }

.icon-u7a7a {
  background-image: url("../img/emoji/u7a7a.png"); }

.icon-uk {
  background-image: url("../img/emoji/uk.png"); }

.icon-umbrella {
  background-image: url("../img/emoji/umbrella.png"); }

.icon-unamused {
  background-image: url("../img/emoji/unamused.png"); }

.icon-underage {
  background-image: url("../img/emoji/underage.png"); }

.icon-unlock {
  background-image: url("../img/emoji/unlock.png"); }

.icon-up {
  background-image: url("../img/emoji/up.png"); }

.icon-us {
  background-image: url("../img/emoji/us.png"); }

.icon-v {
  background-image: url("../img/emoji/v.png"); }

.icon-vertical_traffic_light {
  background-image: url("../img/emoji/vertical_traffic_light.png"); }

.icon-vhs {
  background-image: url("../img/emoji/vhs.png"); }

.icon-vibration_mode {
  background-image: url("../img/emoji/vibration_mode.png"); }

.icon-video_camera {
  background-image: url("../img/emoji/video_camera.png"); }

.icon-video_game {
  background-image: url("../img/emoji/video_game.png"); }

.icon-violin {
  background-image: url("../img/emoji/violin.png"); }

.icon-virgo {
  background-image: url("../img/emoji/virgo.png"); }

.icon-volcano {
  background-image: url("../img/emoji/volcano.png"); }

.icon-vs {
  background-image: url("../img/emoji/vs.png"); }

.icon-walking {
  background-image: url("../img/emoji/walking.png"); }

.icon-waning_crescent_moon {
  background-image: url("../img/emoji/waning_crescent_moon.png"); }

.icon-waning_gibbous_moon {
  background-image: url("../img/emoji/waning_gibbous_moon.png"); }

.icon-warning {
  background-image: url("../img/emoji/warning.png"); }

.icon-watch {
  background-image: url("../img/emoji/watch.png"); }

.icon-water_buffalo {
  background-image: url("../img/emoji/water_buffalo.png"); }

.icon-watermelon {
  background-image: url("../img/emoji/watermelon.png"); }

.icon-wave {
  background-image: url("../img/emoji/wave.png"); }

.icon-wavy_dash {
  background-image: url("../img/emoji/wavy_dash.png"); }

.icon-waxing_crescent_moon {
  background-image: url("../img/emoji/waxing_crescent_moon.png"); }

.icon-waxing_gibbous_moon {
  background-image: url("../img/emoji/waxing_gibbous_moon.png"); }

.icon-wc {
  background-image: url("../img/emoji/wc.png"); }

.icon-weary {
  background-image: url("../img/emoji/weary.png"); }

.icon-wedding {
  background-image: url("../img/emoji/wedding.png"); }

.icon-whale {
  background-image: url("../img/emoji/whale.png"); }

.icon-whale2 {
  background-image: url("../img/emoji/whale2.png"); }

.icon-wheelchair {
  background-image: url("../img/emoji/wheelchair.png"); }

.icon-white_check_mark {
  background-image: url("../img/emoji/white_check_mark.png"); }

.icon-white_circle {
  background-image: url("../img/emoji/white_circle.png"); }

.icon-white_flower {
  background-image: url("../img/emoji/white_flower.png"); }

.icon-white_large_square {
  background-image: url("../img/emoji/white_large_square.png"); }

.icon-white_medium_small_square {
  background-image: url("../img/emoji/white_medium_small_square.png"); }

.icon-white_medium_square {
  background-image: url("../img/emoji/white_medium_square.png"); }

.icon-white_small_square {
  background-image: url("../img/emoji/white_small_square.png"); }

.icon-white_square_button {
  background-image: url("../img/emoji/white_square_button.png"); }

.icon-wind_chime {
  background-image: url("../img/emoji/wind_chime.png"); }

.icon-wine_glass {
  background-image: url("../img/emoji/wine_glass.png"); }

.icon-wink {
  background-image: url("../img/emoji/wink.png"); }

.icon-wolf {
  background-image: url("../img/emoji/wolf.png"); }

.icon-woman {
  background-image: url("../img/emoji/woman.png"); }

.icon-womans_clothes {
  background-image: url("../img/emoji/womans_clothes.png"); }

.icon-womans_hat {
  background-image: url("../img/emoji/womans_hat.png"); }

.icon-womens {
  background-image: url("../img/emoji/womens.png"); }

.icon-worried {
  background-image: url("../img/emoji/worried.png"); }

.icon-wrench {
  background-image: url("../img/emoji/wrench.png"); }

.icon-x {
  background-image: url("../img/emoji/x.png"); }

.icon-yellow_heart {
  background-image: url("../img/emoji/yellow_heart.png"); }

.icon-yen {
  background-image: url("../img/emoji/yen.png"); }

.icon-yum {
  background-image: url("../img/emoji/yum.png"); }

.icon-zap {
  background-image: url("../img/emoji/zap.png"); }

.icon-zero {
  background-image: url("../img/emoji/zero.png"); }

.icon-zzz {
  background-image: url("../img/emoji/zzz.png"); }

/*# sourceMappingURL=emoji.css.map */
