@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?") format("eot"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg"); }
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?") format("eot"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans") format("svg"); }
@font-face {
  font-family: "OpenSans-BoldItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-BoldItalic.eot");
  src: url("../fonts/OpenSans-BoldItalic.eot?") format("eot"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic.svg#OpenSans") format("svg"); }
@font-face {
  font-family: "OpenSans-Extrabold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Extrabold.eot");
  src: url("../fonts/OpenSans-Extrabold.eot?") format("eot"), url("../fonts/OpenSans-Extrabold.woff") format("woff"), url("../fonts/OpenSans-Extrabold.ttf") format("truetype"), url("../fonts/OpenSans-Extrabold.svg#OpenSans") format("svg"); }
@font-face {
  font-family: "OpenSans-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans-Italic.eot?") format("eot"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype"), url("../fonts/OpenSans-Italic.svg#OpenSans") format("svg"); }
@font-face {
  font-family: "OpenSans-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?") format("eot"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans") format("svg"); }
@font-face {
  font-family: "OpenSans-Semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?") format("eot"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#OpenSans") format("svg"); }
@font-face {
  font-family: "OpenSans-Semibolditalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Semibolditalic.eot");
  src: url("../fonts/OpenSans-Semibolditalic.eot?") format("eot"), url("../fonts/OpenSans-Semibolditalic.woff") format("woff"), url("../fonts/OpenSans-Semibolditalic.ttf") format("truetype"), url("../fonts/OpenSans-Semibolditalic.svg#OpenSans") format("svg"); }
@font-face {
  font-family: "OpenSansLight-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansLight-Italic.eot");
  src: url("../fonts/OpenSansLight-Italic.eot?") format("eot"), url("../fonts/OpenSansLight-Italic.woff") format("woff"), url("../fonts/OpenSansLight-Italic.ttf") format("truetype"), url("../fonts/OpenSansLight-Italic.svg#OpenSans") format("svg"); }

/*# sourceMappingURL=fontface.css.map */
